<!-- 
  Student name: Yusuf Adeleke
  Student id: 301114414
  Date: Sept 30 2023
-->

<% include partials/header.ejs %>

<main>
  <div class="content">
    <p>Hi, there...</p>
    <div>Full-stack software engineer</div>
    <h1>Yusuf <span>O.</span></h1>
    <h2>Adeleke</h2>
  </div>
  <div class="profile">
    <img src="content/bg3.jpg" alt="" srcset="" />
  </div>
  <div class="nav-buttons">
    <a href="/about">About Me</a>
    <a href="/services">Services</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  </div>
</main>

<% include partials/footer.ejs %>
