<% include partials/header.ejs %>

<main>
  <div class="content">
    <p>Hi, there...</p>
    <div>Full-stack software engineer</div>
    <h1>Yusuf <span>O.</span></h1>
    <h2>Adeleke</h2>
  </div>
  <div class="profile">
    <img src="content/bg3.jpg" alt="" srcset="" />
  </div>
  <div class="nav-buttons">
    <button type="button">About Me</button>
    <button type="button">Services</button>
    <button type="button">Projects</button>
    <button type="button">Contact</button>
  </div>
</main>

<% include partials/footer.ejs %>
